# NOTE: you can let Wasp set up your Postgres DB by running `wasp start db` in a separate terminal window. 
# then, in a new terminal window, run `wasp db migrate-dev` and finally `wasp start`.
# If you use `wasp start db` then you DO NOT need to add a DATABASE_URL env variable here.
# DATABASE_URL=

# TODO: replace the comments with links to the SaaS Template docs

# for testing, go to https://dashboard.stripe.com/test/apikeys and get a test stripe key that starts with "sk_test_..."
STRIPE_KEY=sk_test_...
# to create a test subscription, go to https://dashboard.stripe.com/test/products and click on + Add Product
HOBBY_SUBSCRIPTION_PRICE_ID=price_...
PRO_SUBSCRIPTION_PRICE_ID=price_...
# after downloading starting the stripe cli (https://stripe.com/docs/stripe-cli) with `stripe listen --forward-to localhost:3001/stripe-webhook` it will output your signing secret
STRIPE_WEBHOOK_SECRET=whsec_...

# see our guide for setting up google auth: https://wasp-lang.dev/docs/auth/social-auth/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# get your sendgrid api key at https://app.sendgrid.com/settings/api_keys
SENDGRID_API_KEY=
# if not explicitly set to true, emails be logged to console but not actually sent
SEND_EMAILS_IN_DEVELOPMENT=true

# (OPTIONAL) get your openai api key at https://platform.openai.com/account
OPENAI_API_KEY=