modules = ["nodejs-20", "web", "bash"]
run = "wasp start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "wasp start"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 42110622
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app && wasp start db &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app && sleep 10 && wasp db migrate-dev --name initial_setup"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app && wasp start"

[[workflows.workflow]]
name = "Start Database"
author = 42110622
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app && wasp start db"

[[workflows.workflow]]
name = "Migrate Database"
author = 42110622
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app && wasp db migrate-dev"

[[workflows.workflow]]
name = "Start App Only"
author = 42110622
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app && wasp start"
