modules = ["nodejs-20", "web", "bash"]
run = "wasp start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "wasp start"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 42110622
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=$PATH:$HOME/.local/bin"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd template/app"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "wasp start"
