# NOTE: if you setup your DB using `wasp start db` then you DO NOT need to add a DATABASE_URL env.
# DATABASE_URL=

STRIPE_KEY=
SUBSCRIPTION_PRICE_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENAI_API_KEY=

SENDGRID_API_KEY=
# if not explicitly set to true, emails be logged to console but not actually sent
SEND_EMAILS_IN_DEVELOPMENT=true
